/* Global settings */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: hsl(218, 23%, 16%);
  display: flex;
  height: 100vh;
  justify-content: center;
}

/* Mobile & Tablet */
main {
  background-color: hsl(217, 19%, 24%);
  border-radius: 10px;
  display: flex;
  margin: 0 20px;
  max-width: 400px;
  padding: 40px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.advice-box,
.advice-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.advice-text h1 {
  color: hsl(193, 38%, 86%);
  font-size: 1.8rem;
}

.advice-text h1:before{ 
  content: open-quote;
 }

.advice-text h1:after { 
  content: close-quote;
}

.advice-text h2 {
  color: hsl(150, 100%, 66%);
  font-size: .7rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.advice-divider img {
  margin: 0 auto;
  width: 100%;
}

.dice {
  background-color: hsl(150, 100%, 66%);
  border-radius: 50%;
  padding: 20px 20px 17px;
  border: 0;
  cursor: pointer;
  margin: 0 auto -70px;
}

.dice img {
  width: 28px;
}
.dice:hover {
  box-shadow: 0 0 40px hsl(150, 100%, 66%);
}

/* Desktop */
@media screen and (min-width: 1440px) {
  main {
    max-width: 600px;
  }
}